@media {
    
    body {
        font-family: 'PT Serif', serif;
    }
  
    .leadphoto{
        width: 100%;
        position: relative;
        color: white;
    }
    
    #childsitting {
          opacity: 0.75;
    }
    
    .overlay {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        color: white;
        font-size: 40px;
        transform: translate(-50%, -50%);
    }
    
    #header {
        padding-top: 5px;
        font-weight: bold;
    }
    
    h1, h3 {
        color: #3C6E71;
    }
    
    h1 {
        font-size: 48px;
    }
    
    

    
    .caption {
        font-size: 12px;
        color: gray;
    }
    
    .bodytext {
        padding: 50px; 500px; 5px; 500px;
    }
}




@media (min-width:576px){
    
}

/*might only use the first two media queries*/

@media (min-width:992px){
    
}

@media (min-width:1200px){
    
}
