@media {
    /*Phone styles here*/
    /*This media query targets any screen smaller than 576px wide (see below)*/


body {
    font-family: 'Lora', serif;
    color: #223843; 
     }
    
    
h1 {
    font-size: 40px;
    margin: 20px 0px 10px 10px;
    }  

 h2 {
    font-size: 30px;
    margin: 0px 0px 20px 10px;
    }
    

    
#header{
    background-color:#DBD3D8;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
  
    }

    
button {
    border: none;
    background-color: #D77A61;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px 20px 5px;
    padding: 10px 10px 10px 10px;
    }
    
button a {
        text-decoration: none;
        color: white;
        }    
    
    button a:hover {
        color: #D8B4A0;
        }    
    
    button a:visited {
        color: rebeccapurple;
     }
    
    
    
    
#headshot {
    width:300px;
    padding: 0px;
    margin: 20px 20px 20px 20px;
    border-radius: 5px;
    }
    
    
    
/* Navigation */

.nav {
    font-size: 20px;
    }    
    
.nav a:hover {
    color:#D8B4A0;
    }
    
.nav a:visited {
    color: #223843;
    }
    
 .nav a {
    color: #D77A61;

    } 
    

    
    
/* Body Content of Page styling */  
    #experience {
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: bold;
        padding: 20px 10px 20px 10px;
        margin: 5px 5px 5px 5px;
    }    
    
    #education {
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: bold;
        padding: 20px 10px 20px 10px;
        margin: 5px 5px 5px 5px;
    }
    
    #skills {
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: bold;
        padding: 20px 10px 20px 10px;
        margin: 5px 5px 5px 5px;   
    }
    
    h4 {
       text-transform: uppercase;
        color: #D77A61;
    }
    
    h5 {
        font-style: italic;
    }
    
    #footer {
        padding: 20px 5px 20px 5px;
    }
    
}

    @media (min-width: 576px) {
        /*Tablet-only styles here*/
        /*This media query targets any screen that is at least 576px wide (but smaller than 992px wide (see below)*/
        
        #headshot {
            width: 170px; 
            }
        h1 {
            font-size: 35px;
        }
        h2{ 
            font-size: 25px;
        }
        
        
    }
    
    @media (min-width: 992px) {
        /*Desktop-only styles here*/
        /*This media query targets any screen that is at least 992px wide*/
        
        #headshot {
            width: 300px;
        }    
        
        h1 {
            font-size: 65px;
        }
        
        h2 {
            font-size: 50px;
        }
        
        button {
            font-size: 22px;
        }
        
        .nav{
            font-size: 18px;
            
        }
        
    }
    
    @media (min-width: 1200px) {
        /*Large-Desktop-only styles here*/
        /*This media query targets any screen that is at least 1200px wide*/
        
        #headshot {
            width:390px;
        }    
        
        h1 {
            font-size: 75px;
        }
        h2 {
            font-size: 60px;
        }
        
        button {
            font-size: 28px;
        }
        
        .nav {
            font-size: 29px;
        }
        
        
        
        
    }