/*
MY COLOR PALETTE
Color 1 Brown - #5B4B49
Color 2 Pink - #DB93B0
Color 3 Peach - #F7BFB4
Color 4 Light green- #7DAF9C
Color 5 Medium green- #23967F
*/

body {
    background-color:#F7BFB4;
    text-align:center;
}

div {
    width: 300px;
    height: 300px;
    text-align:center;
    font-size:44px;
    font-family:'Rubik', sans-serif;
    color:#5B4B49;
    border: 3px solid white;
    padding: 10px 10px 50px 10px;
    margin: auto;
}


#highlight {
    color: #23967F;
    font-weight: bold;
}